@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
p{
    font-family: 'Roboto', sans-serif;

}

#titulo{
    font-weight: bold;
    font-size: 40px;
    margin-top: 38px;
    margin-bottom: 35px;
    text-align: center;
  
}


.mainDiv{
    margin: 0 auto;
    width: 85%;
    height: 90vh;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
    justify-content: space-between;
    
    
}

.nomeDiv{
    width: 90%;
    margin: none;
    
    display: block;

}
#nome{
    text-align: left;
    display: block;
    width: 90%;
    font-size: 24px;
    

}
.usuariosDiv{
    width: 300px;
    display: flex;
    margin: none;
    

    #usuarios{
        text-align: left;
        color: black;
        width: 100%;
        display: block;
        font-size: 24px;
        

}

}
#spanEdit{
    color: black;
    font-weight: bold;
}
.mestreDiv{
    height: 85%;
    width: 390px;
    padding: 25px;
    padding-left: 100px;
   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    
}

.imagensDiv{
  
    #imagens{
        
        width: 180px;
        height: 180px;
        flex-direction: column;
        margin-right: 10px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 5px;
    }
}
.mainModal {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    #nome,#sobrenome,#idade,#pais,#usuario{
        text-align: left;
        width: 300px;
       
        line-height: 40px;
        margin-left: 20px;
        color: rgb(26, 24, 24);
        font-size: 27px
    }
   
   .imagemModalDiv{
       margin-left: 20%;
   }
        #imagemModal{
            height: auto;
            width: 200px;
            border: 2px solid transparent;
            border-radius: 100vh;
    }
    .content2{
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 100%;
        
    }
    .modalAll h1{
        margin-left: 60%;
        margin-bottom: 80px;
        text-align: center;
        width: 30%;
    }
    .container2 {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #fff;
        color: #000;
        width: 40%;
        height: 60%;
        border-radius: 70px;
        border: solid black 4px;
        .close {
            font-size: 25px;
            color: rgb(156, 152, 152);
          
            position: absolute;
            display: flex;
            top: 40px;
            right: 30px;
            align-items: center;
            border: none;
            background: transparent;
            cursor: pointer;
            outline: none;
            width: 32px;
            height: auto;
           
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 2.5px;
                height: 24px;
                background: black;

                justify-content: space-between;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
            }
        }
    }


     #mensagem{
            margin-top:20px;
            margin-left: 200px;
            font-size: 20px;
    }
//SKELETON

.skeleton {
    animation: skeleton-loading 1s linear   alternate;
  }
  .skeleton2 {
    
    animation: skeleton-loading2 0.5s linear  alternate;
  }
  
  
  .skeleton-text {
   
    margin-bottom: .10rem;
    border-radius: .125rem;
  }
 
  
  @keyframes skeleton-loading {
    0%{
        width: 20%;

      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
        width: 90%;

      background-color: hsl(200, 20%, 95%);
    }
  
  }  @keyframes skeleton-loading2 {
    0% {
        width: 100%;
      background-color: hsl(0, 0%, 24%);
    }
  
    100% {
        width: 100%;
      background-color: hsl(0, 0%, 24%);
    }
  }
