@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
p{
    font-family: 'Roboto', sans-serif;

}

#titulo{
    font-family: 'Lobster', cursive;
    font-family: 'Rampart One', cursive;
    font-weight: 600;
    font-size: 40px;
    margin-top: 38px;
    margin-bottom: 35px;
    text-align: center;
    margin-right: 12%;
  
}


.mainDiv{
    margin: 0 auto;
    width: 85%;
    height: 90vh;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 100px;
    justify-content: space-between;
    
    
}

.nomeDiv{
    width: 90%;
    margin: none;
    
    display: block;

}
#nome{
    text-align: left;
    display: block;
    width: 90%;
    font-size: 24px;
    

}
.usuariosDiv{
    width: 300px;
    display: flex;
    margin: none;
    

    #usuarios{
        text-align: left;
        color: black;
        width: 100%;
        display: block;
        font-size: 24px;
        

}

}
#spanEdit{
    color: black;
    font-weight: bold;
}
.mestreDiv{
    height: 85%;
    width: 390px;
    padding: 25px;
    padding-left: 100px;
   
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    
}

.imagensDiv{
  
    #imagens{
        
        width: 180px;
        height: 180px;
        flex-direction: column;
        margin-right: 10px;
        cursor: pointer;
        border: 2px solid transparent;
        border-radius: 5px;
    }
}
.mainModal {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.03);
    display: flex;
    justify-content: center;
    align-items: center;
    
    #nome,#sobrenome,#pais,#usuario{
        text-align: left;
        width: 300px;
        line-height: 40px;
        margin-left: 20%;
        color: rgb(26, 24, 24);
        font-size: 24px;
    }
   
   .imagemModalDiv{
        margin-left: 10%;
   }
        #imagemModal{
            height: auto;
            width: 260px;
            border: 2px solid transparent;
            border-radius: 100vh;
    }
    .content2{
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 100%;
        
    }
    .modalAll h1{
        margin-left: 60%;
        margin-bottom: 80px;
        text-align: center;
        width: 30%;
    }
    .container2 {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #fff;
        color: #000;
        width: 50%;
        height: 70%;
        border-radius: 40px;
        border: solid black 4px;
        .close {
            font-size: 25px;
            color: rgb(156, 152, 152);
          
            position: absolute;
            display: flex;
            top: 40px;
            right: 30px;
            align-items: center;
            border: none;
            background: transparent;
            cursor: pointer;
            outline: none;
            width: 32px;
            height: auto;
           
            &:before,
            &:after {
                content: "";
                position: absolute;
                width: 2.5px;
                height: 24px;
                background: black;

                justify-content: space-between;
            }
            &:before {
                transform: rotate(45deg);
            }
            &:after {
                transform: rotate(-45deg);
            }
            }
        }
    }


     #mensagemBotao{
           
        margin-top:20px;
        font-size: 20px;
        height: 40px;
        width: 200px;
        border-radius: 10px;
        padding: 2%;
        color: white;
        background-color: black;
        font-weight: 500px;
        cursor: pointer;
        margin-left: 80px;
    }

    .divBotaoM{
        margin-top:20px;
       
    }

    .caixa{
        margin-left: 80px ;
        margin-top: 30px;
        
    }

    #area1{
        width: 380px;
        height: 200px;
    }

    .butt{
        width: 85px;
        height: 40px;
        font-size: 19px;
     
    }

/*===========<Loading>===========*/

.loadingV2{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes ldio-982pbayzbcb { 0% { transform: rotate(0) } 100% { transform: rotate(360deg); } }
.ldio-982pbayzbcb > div {
  animation: ldio-982pbayzbcb 1s infinite linear;
  transform-origin: 100px 100px;
}
.ldio-982pbayzbcb > div div { position: absolute; }
.ldio-982pbayzbcb > div div:nth-child(1), .ldio-982pbayzbcb > div div:nth-child(2) {
  width: 164px;
  height: 164px;
  border: 24px solid;
  border-radius: 50%;
  border-color: transparent #e15b64 #e15b64 #e15b64;
  box-sizing: border-box;
  position: absolute;
  transform: rotate(45deg);
  transform-origin: 100px 100px;
}
.ldio-982pbayzbcb > div div:nth-child(1) {
  transform: rotate(45deg) translate(18px, 18px);
}
.ldio-982pbayzbcb > div div:nth-child(2) {
  transform: rotate(0deg) translate(18px, 18px);;
}
.ldio-982pbayzbcb > div div:nth-child(3) {
  width: 0;
  height: 0;
  border: 24px solid;
  border-color: transparent transparent transparent #e15b64;
  transform: translate(100px, 6px);
}
.loadingio-spinner-reload-74d6u5n5slp {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff00;
}
.ldio-982pbayzbcb {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-982pbayzbcb div { box-sizing: content-box; }
/* generated by https://loading.io/ */


/*===========</Loading>=========*/


//SKELETON

/*.skeleton {
    animation: skeleton-loading 1s linear   alternate;
  }
  .skeleton2 {
    
    animation: skeleton-loading2 0.5s linear  alternate;
  }
  
  
  .skeleton-text {
   
    margin-bottom: .10rem;
    border-radius: .125rem;
  }
 
  
  @keyframes skeleton-loading {
    0%{
        width: 20%;

      background-color: hsl(200, 20%, 70%);
    }
  
    100% {
        width: 90%;

      background-color: hsl(200, 20%, 95%);
    }
  
  }  @keyframes skeleton-loading2 {
    0% {
        width: 100%;
      background-color: hsl(0, 0%, 24%);
    }
  
    100% {
        width: 100%;
      background-color: hsl(0, 0%, 24%);
    }
  }*/

  @media (max-width: 850px){
    .mainDiv{
      width: 100px;
      margin: 30px;
    }

    .navbar{
      width:100%;
      align-items: center;
  }

  #linkSair{
    display: none;
  }

  #iconSair{
    display: none;
  }
  .boxBusca{
   
  }
    
  }
  
  @media (max-width: 580px){
    #form{
        max-width: 350px;
        height: 70%;
        width: 100%;
    }
  }