@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
}

.home{
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.home .container{
    position: relative;
    width: 100%;
    max-width: 1900px;
    min-height: 700px;
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    box-shadow: rgba(0, 0, 0, 0.1);

}

/* =========================================================< Esquerda >============================================ */

.container .esquerda{
    position: relative;
    background: white;
    padding: 3%;
}

.master{
    margin-top: 20px;
    border-radius: 9px;
    background: white;
    padding: 3%;
    color: #3E3E3E;
    line-height: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.foto1{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
   
}

.foto1 img{
    width: 100%;
    height: 100%;
    border: solid;
    border-color: rgb(117, 114, 114);
    border-radius: 100%;
}

.nome1{
    font-size: 30px;
    margin-top: 3%;
    text-align: center;
}

.nome2{
    font-size: 30px;
    margin-top: 50px;
}

.link{
    font-size: 20px;
    padding-top: 25px;
    
    
}

.link a{
    text-decoration: none;
   
}

a:hover{
    color: black;
}

.nome3{
    font-size: 30px;
    margin-top: 50px;
}

.info{
    font-size: 20px;
    margin-top: 3%;
    text-align: center;
    line-height: 35px;
}



/* =========================================================< Meio >============================================ */

.container .meio{
    position: relative;
    background: rgba(197, 240, 7, 0);
    padding: 1%;
}

/* =========================================================< Direita >============================================ */

.container .direita{
    position: relative;
    background: rgba(255, 0, 0, 0.658);
    padding: 3%;
}

h1{
    color: blue;
}



