@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.home {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.home .container {
  position: relative;
  width: 100%;
  max-width: 1900px;
  min-height: 700px;
  background: linear-gradient(90deg, white, rgb(243, 245, 247), rgb(240, 245, 250), rgb(233, 241, 248));
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.1);
  background-size: 300% 300%;
  animation: colors 8s ease infinite;
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* =========================================================< Esquerda >============================================ */

.container .esquerda {
  position: relative;
 
  padding: 1%;
}

.master {
  margin-top: 24px;
  margin-bottom: 5px;
  border-radius: 9px;
  background: white;
  padding: 3%;
  color: #3e3e3e;
  line-height: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.foto1 {
  display: flex;
  justify-content: center;
}

.foto1 img {
  width: 80%;
  height: 100%;
  border: solid;

  border-radius: 100%;
  box-shadow: 20px 0 0 #081353;
  border: none;
}

.nome1 {
  font-size: 30px;
  margin-top: 7%;
  margin-bottom: 4%;
  text-align: center;
}

.dados {
  font-size: 20px;
  margin-top: 3%;
  text-align: center;
}

.nome2 {
  font-size: 30px;
  margin-top: 50px;
}

.link {
  font-size: 20px;
  padding-top: 25px;
}

.link a {
  color: rgb(1, 1, 100);
  text-decoration: none;
}

a:hover {
  color: black;
}

.nome3 {
  font-size: 30px;
  margin-top: 50px;
}

.info {
  font-size: 20px;
  margin-top: 3%;
  text-align: center;
  line-height: 35px;
}

/* =========================================================< Meio >============================================ */

.container .meio {
  position: relative;
  background: rgba(197, 240, 7, 0);
  padding: 1%;
}

/* =========================================================< Direita >============================================ */

.container .direita {
  position: relative;
  padding: 1%;
}
