*{
   font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html,
body, 
#root{
   min-height: 100vh;
}

.boxLogin{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;
   font-family: 'Roboto', sans-serif;
}

.container{
   position: relative;
   width: 100%;
   min-height: 600px;
   background: rgba(139, 141, 19, 0);
   display: grid;
   grid-template-columns: 1fr 1fr;
   box-shadow: rgba(0, 0, 0, 0.1);

}

#fundo{
   position: absolute;
   width: 100%;
   left: 50%;
   top: 50%;
   height: 100%;
   object-fit: cover;
   transform: translate(-50%, -50%);
   z-index: -1;
}

/* =========================================================< Esquerda >============================================ */

.container .video{
   position: relative;
   background: rgba(197, 240, 7, 0);
}


/* =========================================================< Direita >============================================ */

.container .login{
   position: relative;
   background: #fc000000;
   padding: 20px;
   display: flex;
   align-items: center;
}
 

#formLogin{  
   background: linear-gradient(-45deg, #ee7652fa, #e73c7efa, #23a5d5f6, #23d5abf6);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
   padding: 2%;
   margin: 0 auto;
   box-shadow: 0 0 2px 0 rgba(0,0,0,0.2) rgba(0,0,0,0.24);
   border-radius: 20px;
   max-width: 450px;
   width: 100%;
   margin: 0 auto;
   position: relative;
   
  
}

fieldset{
   border: medium none !important;
   margin: 0 0 8px;
   min-width: 100%;
   padding: 0;
   width: 100%;
}

.field_flex{
   display: flex;
   align-items: center;
   justify-content: center;
}
 
#formLogin input{
   width: 100%;
    border: none;
    border-bottom: 2px solid #1c1e21;
    border-left: 2px solid #1c1e21;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0);
    margin: 0 0 2%;
    padding: 10px; 
}

#formLogin input::placeholder{
   font: 600 15px/18px 'Roboto', sans-serif;
   color: #1c1e21;
}

#formLogin input{
   font: 600 15px/18px 'Roboto', sans-serif;
   color: #1c1e21;
}

#formLogin input:hover{
   border: none;
   border-bottom: 2px solid #1c1d20c4;
   border-left: 2px solid #1c1d20d2;
   transition: border-color 0.3s ease-in-out; 
}

#formLogin input:focus{
   outline: none;
}



#formLogin button{
   cursor: pointer;
    width: 50%;
    border-radius: 5px;
    border: none;
    background-color: #1c1e21;
    color: #fff;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
}

#formLogin button:hover{
   box-shadow: inset 0 2px 4px rgb(10, 10, 10);
   transition: background-color 0.3s ease-in-out;
}
#formLogin button:active{
   box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.582);
}
 
 .linhahorizontal{
   width: 100%;
   border: 1px solid black;
   margin-top: 2%;
   margin-bottom: 2%;
}

.logo2{
   color: #000000;
    display: block;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Lobster', cursive;
    font-family: 'Rampart One', cursive;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 4%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
.spanLogin{
   color: #fff;
   font-weight: 520;
}

/* =========================================================< @ midea @ >============================================ */

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 850px){
    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: url(../source/hoian.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    #fundo{
        display: none;
    }
    .video{
        display: none;
    }
    .cadastro{
        width: 100%;
        padding: 10%;
    }
    #form{
        max-width: 400px;
        width: 100%;
    }
    
}

@media (max-width: 580px){
    #form{
        max-width: 350px;
        height: 70%;
        width: 100%;
    }
}