.boxBusca{
    display: flex;
    margin-left: 10rem;
    align-items: center;
}

.boxBusca .buscar{
    width: 300px;
    padding: 10px 0;
    padding-left: 10px;
    

}
.boxBusca .icon{
    margin-top:10px;
    align-items: center;
    display: block;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}


.boxBusca .ico{
    fill: #fff;
    }
    @media (max-width: 580px){
        .boxBusca{
            display: none;
        }
    }