.boxBusca{
    position: relative;
    display: flex;
    margin-left: 10%;
    align-items: center;
    flex-direction: column;
    
}

.boxBusca .buscar{
    position: relative;
    width: 300px;
    padding: 10px 0;
    padding-left: 10px;
    border: solid 2px #000;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: -16%;
}

.boxBusca .buscar::placeholder{
    font: 600 16px/18px 'Roboto', sans-serif;
    color: #1c1e21;
}

.boxBusca .icon{
    margin-top:10px;
    align-items: center;
    display: block;
    font-size: 35px;
    margin-right: 350%;
    cursor: pointer;
}


.boxBusca .ico{
    fill: #000;
}

.testeb{
    display: flex;
    flex-direction: row;
    margin-right: 7%;
}

